head, body {
background-color: #FC8FA4;
}

.box2{
    background-image: url(./img/Lovisa\ _\ uploaded\ by\ ℒ\ on\ We\ Heart\ It.jpg);

   height: 500px;
   width: 500px;
   padding: 100px;
   display: block;
   

}